<%= link_to "Back to My Trips", trips_path %>
<h3>Edit Trip</h3>

<%= form_for @trip do |f| %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :cover_image %><br>
    <%= f.file_field :cover_image %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
