<h1 class="h1-titles"><%= current_user.name %>'s Trips</h1>
<p class="trip-count">You have <%= @trips.length %> trips!</p>
<div class="col-12-xs trip-index-div text-left">
	<% @trips.each do |trip| %>
   <div class="trip-div col-lg-3 col-md-4 col-sm-6 col-xs-12" >
    <%= image_tag trip.cover_image.url, class: "cover-image" %>
    <div class="black-box col-xs-12">
      <p>
      <%= link_to trip.title, trip_path(trip), class:"title-link" %><br>
    <!--   <h5><%= trip.start_date %> - <%= trip.end_date %></h5> -->
      <%= trip.location %><br>
  <!--     <%= trip.start_date %> - <%= trip.end_date %><br> -->
      <%= trip.posts.length %> - posts</p>
    </div>
  
   </div>
	<% end %>
</div>