<h1><%= current_user.name %>'s Trips</h1>

	<p>You have <%= @trips.length %> trips!</p>

<div class="trip-index-div text-left">
	<% @trips.each do |trip| %>
   <div id="location"class="trip-div col-md-4 col-xs-4">
     <p class="text-left"><small><%= trip.posts.length %> - posts</small></p>
      <h4><%= link_to trip.title, trip_path(trip) %></h4>
      <h5><%= trip.start_date %> - <%= trip.start_end %></h5>
   <!--    <p><small><%= trip.created_at.strftime("%Y-%b-%d")%></small></p> -->
      <p ><h4 class="black-border"id="location-content"><%= trip.location %></h4></p>
   </div>
	<% end %>
</div>