<%= link_to "Back to My Trips", trips_path %>
<h2>Where you Trippin to?</h2>

<%= form_for @trip, url: {action: "create"} do |f| %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
