<div class="container-fluid">
  <div class="new-post-trip-div">
    <div class="padding">
    <h2 class="h2-titles">Where you Trippin to?</h2>
    <div class="margin-bottom"><%= link_to "Back to My Trips", trips_path, class:"nav-back" %>
    </div>
    <%= form_for @trip, url: {action: "create"}, html: {multipart: true } do |f| %>
     
      </p>
        <%= f.label :cover_image %><br>
        <%= f.uploadcare_field :cover_image %>
      </p>
      
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
     
      <p>
        <%= f.label :location %>
        <%= f.text_field :location %>
      </p>

      <p>
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
      </p>

      <p>
       <%= f.label :end_date %>
       <%= f.date_field :end_date %>
      </p>
        
     
      <p>
        <%= f.submit %>
      </p>
     
    <% end %>
    </div>
  </div>
</div>

