<h2><%= link_to @trip.title, edit_trip_path(@trip), class:"h2-titles-edit" %></h2>
<p class="margin-bottom"><%= @trip.location %></p>
<div class="margin-bottom">
  <%=link_to "Back to trips", trips_path(current_user), class:"nav-back" %> 
  <%= link_to "New Post", new_trip_post_path(@trip), class:"nav-back" %> 
</div>
<div class="container show-container">
  <div class="row trip-index-div">
  	<% @posts.each do |post| %>
      <div class=" col-xs-12">
        <div class="post-div col-xs-12">
      		<h4><%= link_to post.title, edit_trip_post_path({id: post.id, trip_id: @trip.id}), class:"post-title" %></h4>
          <% if post.image %>
        		<%= link_to image_tag(post.image.url, class: "img-responsive post-img "), post.image.url, target:'_blank' %>
          <% else %>
            No attachment available!
          <% end %>
      		<p class="post-content"><%= post.content %></p>
          <div class="post-date ">
            <p class="pull-left"><small><%= post.created_at.strftime("%a,%Y-%b-%d %I:%M")%> </small></p>
            <div class="post-edit-trash">
              <%= link_to edit_trip_post_path({id: post.id, trip_id: @trip.id}), class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to trip_post_path({id: post.id, trip_id: @trip.id}),:method => :delete, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  	<% end %>
  </div>
</div>
<div class="edit-trash">
<%= link_to 'Edit Trip', edit_trip_path(@trip), class: "nav-back"  %>
 
<%= link_to 'Delete', trip_path(@trip), :method => :delete, data: {confirm: "Are you sure?"}, class: "nav-back" %>
</div>


