<div class="new-post-trip-div">
<h2 class="legend padding">Edit Post</h2>
<%= link_to "<< #{@trip.title}", @trip, class:"nav-back" %>
	<%= form_for ([@trip, @post]) do |f| %>

   <div class="field input">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
   
    <div class="field input">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>

    <div class="field input">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>

   
    <div class="field input">
      <%= f.submit %>
    </div>
  <% end %>
</div>


