<div class="container-fluid">
  <div class="new-post-trip-div">
    <h2 class="legend padding">New Post</h2>
    <div class="margin-bottom"><%= link_to "<< #{@trip.title}", @trip, class:"nav-back" %></div>
    <%= form_for :post, url: trip_posts_path, html: {multipart: true } do |f| %>

      <div class="field input">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>

      <div class="field input">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>

      <div class="field input">
        <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>
    
      <div class="field input">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>