<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>TripMemories</title>
  <!-- GOOGLEFONTS -->
  <link href='https://fonts.googleapis.com/css?family=Inconsolata|Lobster|Kotta+One|Sniglet|Ruluko' rel='stylesheet' type='text/css'>
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <!-- JQUERY UI -->
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"   integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="   crossorigin="anonymous"></script>

  <!-- GOOGLE MAPS -->
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpM9SpDUz23n_JY60c3pX2jYxdo1f60Jg&?libraries=places"></script> -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="text-center">
 	<%= render "pages/navbar" %>

	<div id="messages" class="container-fluid">
	  <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>">
	      <%= value %>
	    </div>
	  <% end %>
	</div>
	
	<%= yield %>
  
  <%= render "pages/footer" %>
  <script src="https://maps.googleapis.com/maps/api/js?AIzaSyBpM9SpDUz23n_JY60c3pX2jYxdo1f60Jg&libraries=places&callback=initMap" async defer></script>
</body>
</html>
