<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>TripMemories</title>
  <!-- GOOGLEFONTS -->
  <link href='https://fonts.googleapis.com/css?family=Inconsolata|Lobster|Kotta+One|Sniglet|Ruluko' rel='stylesheet' type='text/css'>
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places" %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'layout', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:javascripts) %>
</head>

<body class="text-center">
 	<%= render "pages/navbar" %>

	<div id="messages" class="container-fluid">
	  <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>">
	      <%= value %>
	    </div>
	  <% end %>
	</div>
	
	<%= yield %>
  
  <%= render "pages/footer" %>

</body>
</html>
