<!DOCTYPE html>
<html>
<head>
  <title>TripMemories</title>
    <!-- FAVICON -->
  <link rel=”shortcut icon” href=”https://sleepy-beach-27989.herokuapp.com/favicon.ico” type=”image/ico”>
  <link rel=”icon” href=”https://sleepy-beach-27989.herokuapp.com/favicon.ico” type=”image/icon”>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata|Lobster|Kotta+One|Sniglet|Ruluko' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="text-center">
	
 	<%= render "pages/navbar" %>

	<div id="messages" class="container">
	  <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>">
	      <%= value %>
	    </div>
	  <% end %>
	</div>
	
	<%= yield %>

</body>
</html>
